@font-face { font-family: "Monotype Corsiva"; src: url('fonts/monotypecorsiva.ttf'); }

.text { margin: 0; padding: 19px 31px; font: 18px "Monotype Corsiva"; color: black; }

.room { background-color: black; }

.space {
position: absolute; 
top: 0; left: 0;
width: 100%; height: 100%;
overflow: hidden;
}
.cosmos {
position: absolute; top: -684px; left: 50%; margin-left: -1080px;
width: 2160px; height: 2160px;
background: url('images/textures/cosmos.jpg') no-repeat center;
border-radius: 1080px;
box-shadow: 0 0 192px 192px black inset;
transform: rotate(0deg);
animation-name: rotation;
animation-duration: 360s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes rotation { 100% { transform: rotate(+360deg); }	}

.floor {
position: absolute; top: 0; left: 50%; margin-left: -640px;
width: 1280px; height: 791px;
background: url('images/textures/floor.jpg') no-repeat center;
border-radius: 32px;
box-shadow: 0 0 64px 64px black;
transform: scale(0.000001, 0.000001);
animation-name: zoom;
animation-delay: 1s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-timing-function: ease-in;
}	
@keyframes zoom { 100% { transform: scale(1, 1); }	}

.darkness {
z-index: 100;
position: absolute; top: 0; left: 0;
width: 100%; height: 100%;
background: black;
opacity: 1;
animation-name: light;
animation-delay: 1s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-timing-function: ease-in;
}
@keyframes light { 100% { z-index: 0; opacity: 0; } }

.shadow {
z-index: 0;
position: absolute; top: 0; left: 0;
width: 100%; height: 100%;
box-shadow: 0 0 25px 25px black inset;
animation-name: dark;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}
@keyframes dark { 100% { box-shadow: 0px 0px 75px 75px black inset; } }

.table { 
position: relative; top: 64px; margin: auto;
width: 1024px; height: 632px;
background: url('images/textures/table.jpg') no-repeat center;
border-radius: 16px;
box-shadow: 16px 16px 8px;
}

.candle {
position: absolute;
top: -64px; left: 192px;
width: 200px; height: 150px;
opacity: 1;
animation-name: disappear;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}
.glass {
position: absolute;
top: -64px; right: 128px;
width: 168px; height: 216px;
opacity: 1;
animation-name: disappear;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}	
@keyframes disappear { 100% { opacity: 0; } }

.skull {
position: absolute;
top: -64px; right: 64px;
width: 216px; height: 240px;
opacity: 0;
animation-name: appearance;
animation-delay: 6s;
animation-duration: 4s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}
@keyframes appearance { 100% { opacity: 1; } }

.penandink {
position: absolute;
top: 147px; right: -32px;
width: 300px; height: 238px;
}

.paper {
position: absolute;
top: 158px; left: 16px; margin: 0; padding: 38px 62px;
width: 144px; height: 144px;
background-color: #FFFEEE;
font: 38px "Monotype Corsiva"; 
color: red;
box-shadow: 4px 4px 4px black;
transform: rotateZ(-30deg);	
}

.book {
position: relative; top: 128px; margin: auto;
width: 316px; height: 446px;
perspective: 894px;
transform-style: preserve-3d;
}

.continue {
position: absolute;
top: 192px; left: 79px; margin: 0; padding: 38px 62px;
width: 128px; height: 160px;
background-color: #FFFEEE;
font: 31px "Monotype Corsiva"; 
color: black;
box-shadow: 4px 4px 4px black;
transform: rotateZ(+30deg);
animation-name: attention;
animation-delay: 12s;
animation-duration: 0.1s;
animation-direction: alternate;
animation-play-state: paused;
animation-iteration-count: 4;
animation-timing-function: linear;
}
@keyframes attention {
0%    {transform: rotateZ(+30deg); }
100%  {transform: rotateZ(+25deg); }
}
a:hover { color: red; }

.sheet {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 316px; height: 446px;
box-shadow: 0 0 8px;
cursor: pointer;
transform-style: preserve-3d;
transform-origin: left center 0;
animation-duration: 1s;
animation-fill-mode: both;
animation-play-state: paused;
animation-timing-function: linear;
}
#S1 { z-index: 50; animation-name: S1RY; }
#S2 { z-index: 40; animation-name: S2RY; }
#S3 { z-index: 30; animation-name: S3RY; }
#S4 { z-index: 20; animation-name: S4RY; }
#S5 { z-index: 10; animation-name: S5RY; }
@keyframes S1RY { 0% {z-index: 50; transform: rotateY(0) } 50% {z-index: 50; transform: rotateY(-90deg); } 100% {z-index: 10; transform: rotateY(-180deg); } }
@keyframes S2RY { 0% {z-index: 40; transform: rotateY(0) } 50% {z-index: 40; transform: rotateY(-90deg); } 100% {z-index: 20; transform: rotateY(-180deg); } }
@keyframes S3RY { 0% {z-index: 30; transform: rotateY(0) } 50% {z-index: 30; transform: rotateY(-90deg); } 100% {z-index: 30; transform: rotateY(-180deg); } }
@keyframes S4RY { 0% {z-index: 20; transform: rotateY(0) } 50% {z-index: 40; transform: rotateY(-90deg); } 100% {z-index: 40; transform: rotateY(-180deg); } }
@keyframes S5RY { 0% {z-index: 10; transform: rotateY(0) } 50% {z-index: 50; transform: rotateY(-90deg); } 100% {z-index: 50; transform: rotateY(-180deg); } }

.front_side_of_front_cover {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 316px; height: 446px;
}
.cover { width: 100%; height: 100%; }

.back_side_of_front_cover {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 308px; height: 430px;
background-color: #FFFEEE;
border-bottom: 8px solid #884444;
border-left: 8px solid #884444;
border-top: 8px solid #884444;
}

.front_side_of_back_cover {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 308px; height: 430px;
background-color: #FFFEEE;
border-bottom: 8px solid #884444;
border-right: 8px solid #884444;
border-top: 8px solid #884444;
}

.back_side_of_back_cover {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 316px; height: 446px;
background-color: #884444;
}
.photo {
position: absolute; 
top: 31px; left: 57px; 
width: 200px; height: 150px;
border: 3px solid black;
border-radius: 6px;
}
.annotation {
position: absolute; 
top: 196px;
margin: 0; padding: 19px 31px;
font: 16.5px "Monotype Corsiva";
text-align: center;
color: #FFFF99;
}

.odd_page {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 316px; height: 446px;
background-color: #FFFEEE;
border: 1px solid black;
transform: rotateY(0);
backface-visibility: hidden;
}

.even_page {
position: absolute;
top: 0; left: 0; margin: 0; padding: 0;
width: 316px; height: 446px;
background-color: #FFFEEE;
border: 1px solid black;
transform: rotateY(-180deg);
backface-visibility: hidden;
}