@font-face { font-family: "Marck Script"; src: url('fonts/MarckScript-Regular.ttf'); }

:root { --ratio: 0; }

* { margin: 0; padding: 0; }

.room {
position: relative;
margin: 0 auto;
width: calc(var(--ratio)*1920px); 
height: calc(var(--ratio)*900px);
display: flex;
justify-content: center;
background-color: black;
}

.space {
position: absolute;
top: 0;
width: max(calc(var(--ratio)*1920px), 99vw); 
height: max(calc(var(--ratio)*900px), 100vh);
display: flex;
justify-content: center;
overflow: hidden;
}
.cosmos {
position: absolute;
top: calc(var(--ratio)*(-680px));
width: calc(var(--ratio)*2160px);
height: calc(var(--ratio)*2160px);
background: url('images/textures/cosmos.jpg') no-repeat center; background-size: 100% 100%;
border-radius: calc(var(--ratio)*1080px);
box-shadow: 0 0 calc(var(--ratio)*192px) calc(var(--ratio)*192px) black inset;
transform: rotate(0deg);
animation-name: rotation;
animation-duration: 360s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes rotation { 100% { transform: rotate(+360deg); }	}

.floor {
position: absolute; top: 0;
width: calc(var(--ratio)*1280px); height: calc(var(--ratio)*791px);
background: url('images/textures/floor.jpg') no-repeat center; background-size: 100% 100%;
border-radius: calc(var(--ratio)*32px);
box-shadow: 0 0 calc(var(--ratio)*64px) calc(var(--ratio)*64px) black;
transform: scale(0.000001, 0.000001);
animation-name: zoom;
animation-delay: 1s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-timing-function: ease-in;
}	
@keyframes zoom { 100% { transform: scale(1, 1); }	}

.darkness {
z-index: 100;
position: absolute; width: 100%; height: 100%;
background: black;
opacity: 1;
animation-name: light;
animation-delay: 1s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-timing-function: ease-in;
}
@keyframes light { 100% { z-index: 0; opacity: 0; } }

.shadow {
z-index: 0;
position: absolute; width: 100%; height: 100%;
box-shadow: 0 0 calc(var(--ratio)*25px) calc(var(--ratio)*25px) black inset;
animation-name: dark;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}
@keyframes dark { 100% { box-shadow: 0px 0px calc(var(--ratio)*75px) calc(var(--ratio)*75px) black inset; } }

.table { 
position: relative; margin: auto;
top: calc(var(--ratio)*64px); 
width: calc(var(--ratio)*1024px); height: calc(var(--ratio)*633px);
background: url('images/textures/table.jpg') no-repeat center; background-size: 100% 100%;
border-radius: calc(var(--ratio)*16px);
box-shadow: calc(var(--ratio)*16px) calc(var(--ratio)*16px) calc(var(--ratio)*8px);
perspective: calc(var(--ratio)*894px);
transform-style: preserve-3d;
}

.candle {
position: absolute;
top: calc(var(--ratio)*(-64px)); left: calc(var(--ratio)*192px);
width: calc(var(--ratio)*200px); height: calc(var(--ratio)*150px);
opacity: 1;
animation-name: disappear;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}
.glass {
position: absolute;
top: calc(var(--ratio)*(-64px)); right: calc(var(--ratio)*128px);
width: calc(var(--ratio)*168px); height: calc(var(--ratio)*216px);
opacity: 1;
animation-name: disappear;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}	
@keyframes disappear { 100% { opacity: 0; } }

.skull {
position: absolute;
top: calc(var(--ratio)*(-64px)); right: calc(var(--ratio)*64px);
width: calc(var(--ratio)*216px); height: calc(var(--ratio)*240px);
opacity: 0;
animation-name: appearance;
animation-delay: 6s;
animation-duration: 4s;
animation-fill-mode: forwards;
animation-play-state: paused;
animation-timing-function: linear;
}
@keyframes appearance { 100% { opacity: 1; } }

.penandink {
position: absolute;
top: calc(var(--ratio)*147px); right: calc(var(--ratio)*(-32px));
width: calc(var(--ratio)*300px); height: calc(var(--ratio)*238px);
}

.paper {
position: absolute;
top: calc(var(--ratio)*158px); left: calc(var(--ratio)*16px); 
width: calc(var(--ratio)*256px); height: calc(var(--ratio)*192px);
background-color: #FFE;
box-shadow: calc(var(--ratio)*4px) calc(var(--ratio)*4px) calc(var(--ratio)*4px) black;
text-align: center;
transform: rotateZ(-30deg);	
}

.sheet {
position: absolute;
top: calc(var(--ratio)*128px); left: calc(var(--ratio)*354px);
width: calc(var(--ratio)*316px); height: calc(var(--ratio)*446px);
border: calc(var(--ratio)*1px) solid black;
box-shadow: 0 0 calc(var(--ratio)*8px);
transform-style: preserve-3d;
transform-origin: left center 0;
will-change: transform;
animation-duration: 1s;
animation-fill-mode: both;
animation-play-state: paused;
animation-timing-function: linear;
}
#S1 { z-index: 50; animation-name: S1RY; }
#S2 { z-index: 40; animation-name: S2RY; }
#S3 { z-index: 30; animation-name: S3RY; }
#S4 { z-index: 20; animation-name: S4RY; }
#S5 { z-index: 10; animation-name: S5RY; }
@keyframes S1RY { 0% {z-index: 50; transform: rotateY(0) } 50% {z-index: 50; transform: rotateY(-90deg); } 100% {z-index: 10; transform: rotateY(-180deg); } }
@keyframes S2RY { 0% {z-index: 40; transform: rotateY(0) } 50% {z-index: 40; transform: rotateY(-90deg); } 100% {z-index: 20; transform: rotateY(-178deg); } }
@keyframes S3RY { 0% {z-index: 30; transform: rotateY(0) } 50% {z-index: 30; transform: rotateY(-90deg); } 100% {z-index: 30; transform: rotateY(-177deg); } }
@keyframes S4RY { 0% {z-index: 20; transform: rotateY(0) } 50% {z-index: 40; transform: rotateY(-90deg); } 100% {z-index: 40; transform: rotateY(-176deg); } }
@keyframes S5RY { 0% {z-index: 10; transform: rotateY(0) } 50% {z-index: 50; transform: rotateY(-90deg); } 100% {z-index: 50; transform: rotateY(-175deg); } }

.wrapper { position: absolute; width: 100%; height: 100%; cursor: pointer; will-change: transform; }
#F1 { transform: translateZ(5px); } #B1 { transform: translateZ(-1px); background: black; opacity: 0.33; }
#F2 { transform: translateZ(4px); } #B2 { transform: translateZ(-2px); }
#F3 { transform: translateZ(3px); } #B3 { transform: translateZ(-3px); }
#F4 { transform: translateZ(2px); } #B4 { transform: translateZ(-4px); }
#F5 { transform: translateZ(1px); } #B5 { transform: translateZ(-5px); }

.odd_page {
position: absolute; width: 100%; height: 100%;
background-color: #FFE;
text-align: left;
transform: rotateY(0);
will-change: transform;
backface-visibility: hidden;
}

.even_page {
position: absolute; width: 100%; height: 100%;
background-color: #FFE;
text-align: left;
transform: rotateY(-180deg);
will-change: transform;
backface-visibility: hidden;
}

#S1 .odd_page {
background: url('images/photos/cover.jpg') no-repeat center; background-size: 100% 100%;
}
#S1 .even_page {
box-shadow:
calc(var(--ratio)*8px) 0    #844 inset,
0 calc(var(--ratio)*8px)    #844 inset,
0 calc(var(--ratio)*(-8px)) #844 inset;
}
#S5 .odd_page {
box-shadow:
calc(var(--ratio)*(-8px)) 0 #844 inset,
0 calc(var(--ratio)*8px)    #844 inset,
0 calc(var(--ratio)*(-8px)) #844 inset;
}
#S5 .even_page {
background-color: #844;
}

.photo {
position: absolute;
top: calc(var(--ratio)*29px);
left: calc(var(--ratio)*58px);
width: calc(var(--ratio)*200px); height: calc(var(--ratio)*150px);
border: calc(var(--ratio)*3px) solid black;
border-radius: calc(var(--ratio)*6px);
}
.annotation {
position: absolute; 
top: calc(var(--ratio)*179px);
text-align: center;
}

.continue {
position: absolute;
top: calc(var(--ratio)*368px); left: calc(var(--ratio)*432px); 
width: calc(var(--ratio)*256px); height: calc(var(--ratio)*192px);
background-color: #FFE;
box-shadow: calc(var(--ratio)*4px) calc(var(--ratio)*4px) calc(var(--ratio)*4px) black;
text-align: center;
transform: rotateZ(30deg);
animation-name: attention;
animation-delay: 12s;
animation-duration: 0.1s;
animation-direction: alternate;
animation-play-state: paused;
animation-iteration-count: 4;
animation-timing-function: linear;
}
@keyframes attention {
0%    {transform: rotateZ(30deg); }
100%  {transform: rotateZ(25deg); }
}
a:hover { color: red; }

.loupe {
position: absolute; z-index: 100;
bottom: calc(var(--ratio)*(-32px)); right: calc(var(--ratio)*32px);
width: calc(var(--ratio)*256px); height: calc(var(--ratio)*256px);
cursor: pointer;
transition: transform 0.25s ease-out;
}
.loupe:hover {
transform: translate(calc(var(--ratio)*(-48px)), calc(var(--ratio)*(-48px))) scale(1.25);
}

p { font-family: "Marck Script"; line-height: 1.0; word-spacing: -0.25em; }
.paper p      { padding: calc(var(--ratio)*31px) calc(var(--ratio)*31px); font-size: calc(var(--ratio)*41px); color: red;   }
.sheet p      { padding: calc(var(--ratio)*26px) calc(var(--ratio)*26px); font-size: calc(var(--ratio)*19px); color: black; }
.annotation p { padding: calc(var(--ratio)*25px) calc(var(--ratio)*25px); font-size: calc(var(--ratio)*18px); color: #FF9;  }
.continue p   { padding: calc(var(--ratio)*31px) calc(var(--ratio)*31px); font-size: calc(var(--ratio)*31px); color: black; }
